*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*touch-action: none;*/
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/Font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/Font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../assets/Font/Montserrat-Light.ttf);
}

html{
    font-family: Montserrat-Regular;   
}


body{
    min-height: 100vh;
    /*background-color: azure;*/
    /*background-color: rgb(206, 255, 255);*/   
}

.--RB{
    border:1px solid rgb(255, 0, 0);
}

.--BB{
    border:1px solid rgb(0, 0, 0);
}

.cp{
    cursor: pointer;
}

/*
div{
    border:1px solid rgb(255, 0, 0);
}*/



/* flex stuff */
.--f-row{
    display: flex;
    flex-direction: row;
}
.--f-col{
    display: flex;
    flex-direction: column;
}
.--f-cent{
    align-items: center;
    justify-content: center; 
}
.--f-centered{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.--f-row-centered{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}
.--f-col-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.--f-col-align{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.--f-row-align{
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.--f-row-just{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.--f-jsb{
    justify-content: space-between;
}

.--f-jfe{
   justify-content: flex-end;
}

.--f-jse{
    justify-content: space-evenly;
}

.--fg1{
    flex-grow: 1;
}
/* flex stuff */


.--full{
    width: 100%;
    height: 100%;
}
.--qrtr{
    width: 25%;
    height: 100%;
}

.--thrd{
    width: 33%;
    height: 100%
}

.--w49{
    width: 49%;
    height: 100%
}

.--wfg1{
    width: 100%;
    flex-grow: 1;
}


.--half{
    width: 50%;
    height: 100%;
}

.--tw-thrd{
    width: 64%;
    height: 100%;
}

.--t325{
    width: 32.5%;
    height: 100%;
}

.--t40{
    width: 40%;
    height: 100%;
}
.--t60{
    width: 60%;
    height: 100%;
}


.--wide{
    width: 100%;
    height: 50%;
}
.--wide-5th{
    width: 100%;
    height: 8vw;
}





.--img-fill{
    max-width:100%;
    max-height:100%;    
}

.--img-full-wid{
    width:100%;
    max-height:100%;   
}

.--img-fit-c{  
    width: 100%;  
    object-fit: contain
}

.--img-wd{
    width:100%;
}

.--w100{
    width:100%;
}

.--w90{
    width: 90%;
}


/* font modifiers */
.--fnt-st{
    color: gray;
    text-decoration: line-through;
}



.--fnt-mon-r{
    font-family: Montserrat-Regular;     
}
.--fnt-mon-b{
    font-family: Montserrat-Bold;
}
.--fnt-mon-l{
    font-family: Montserrat-light;
}



.--fnt-f20{
    font-size: 20px; 
}
.--fnt-f16{
    font-size: 16px;
}
.--fnt-f18{
    font-size: 18px;
}
.--fnt-f12{
    font-size: 12px;  
}



.--fnt-r45{
    font-size: 4.5vw;
}

.--fnt-r30{
    font-size: 3vw;
}

.--fnt-r20{
    font-size: 2vw;  
}

.--fnt-r16{
    font-size: 1.6vw;  
}

.--fnt-r14{
    font-size: 1.4vw;
}
.--fnt-r13{
    font-size: 1.3vw;
}
.--fnt-r12{
    font-size: 1.2vw;  
}


.--fnt-w400{
    font-weight: 400;
}
.--fnt-w500{
    font-weight: 500;
}
.--fnt-w600{
    font-weight: 600;
}
.--fnt-w700{
    font-weight: 700;
}





.--rsp-font-underscore{
    font-family: Montserrat-Regular;
    /*font-size: 16px;*/
    font-size: 1.25vw; 
    text-decoration: underline;
}

.--fnt-w{
    color: white;
}
.--fnt-b{
    color: black;
}

.--fnt-us{
    text-decoration: underline;
}




.btn{
    padding: 0;
    border: none;
}


.--mt-r16{
    margin-top: 16vw;
}

.mgt-r2{
    margin-top: 2vw;
}

.--mt-r2{
    margin-top: 2vw;
}

.--mt-r15{
    margin-top: 1.5vw;
}

.--mt-r1{
    margin-top: 1vw;
}


.--mt-r05{
    margin-top: .5vw;
}


.--mtb-r1{
    margin: 2vw 0;
}



.spacer{
    width: 100%;
    height: 2vw;
}

.line-space{
    width: 80%;
    border-top: 1px solid rgb(158, 158, 158);
}
.line-space2{
    width: 96%;
    border-top: 1px solid rgb(158, 158, 158);
}



/*
.main-container{    
    position: relative;
}*/

.head{   
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: white;*/ 
    z-index: 2;  
}

.head__nav{
    height:32px;    
}

.mw-nav-box{
    width: 120px;   
    justify-content: space-between;    
}





.--ml-50{
    margin-left: 50px;
}
.--mr-50{
    margin-right: 50px;
}

.--mr-r05{
    margin-right: .5vw;
}


/*
.head__ribbon{
    background-color: black;    
    justify-content: space-between;    
}*/


.logo{   
    font-size: 60px;         
}


.icon-box{
    width: 160px;      
    justify-content: space-between;
}

.--hrb-icon{
    width: 24px;
    height: 23px; 
    filter: invert();    
}

.--search-ico{
    background: url("../assets/Icons/search.png"); 
    background-repeat: no-repeat;
    background-size: 100%;   

}
.--login-ico{
    background: url("../assets/Icons/login.png"); 
    background-repeat: no-repeat;
    background-size: 100%;   
}
.--wl-ico{
    background: url("../assets/Icons/wishlist.png"); 
    background-repeat: no-repeat;
    background-size: 100%;   
}
.--bag-ico{
    background: url("../assets/Icons/bag.png"); 
    background-repeat: no-repeat;
    background-size: 100%;   
}


.--bg-w{
    background-color: white;
}

.--bg-gray{
    background-color: rgb(197, 197, 197);
}
.--bg-blk{
    background-color: black;
}

.--bg-lr{
    background-color: #f3f3f3;  
}



.head__menu{    
    justify-content: space-evenly;
    width: 60%;
    height: 35px;    
}

.blk-bar{
    width: 100%;
    height: 10px;
    background-color: black;
}







.action-bar{
    height: 70px;
    background-color: rgb(255, 145, 0);
}




.--sec-wpr{
    display: flex;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.--sec-wpr-sm{
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.sec-1{    
    margin-top: 140px; 
}
.--sec-tm{
    margin-top: 180px;
}


.sec-2{
    width: 100%;
    height: 80vw;
}

.sec-2-inner{
    width: 100%;
    height: 60vw;
}

.sec-2-inner-box{
    width: 80%;    
    height: 100%;
    justify-content: space-between;
}
.sec-3-inner{
    width: 90%;
    height: 25vw;
}

.sec-inner{
    width: 90%; 
    height: 40vw;   
}

.sec-w90{
    width: 90%;      
}

.split-inner-50{
    width: 90%;
    height: 45vw;
}

.small-item-box{    
    width: 25%;    
}



.item-sec{
    width: 100%;    
}

.item-box{
    width: 96%;
    height: 60vw;
}

.item-dscp-box{
    width: 96%;    
}

.item-box__inner-left{
    width: 75%;
    height: 100%;
    margin-left: auto;
}
.item-box__inner-right{
    width: 90%;
    height: 100%;
    margin-left: auto;
}

.item-button-div{
    width: 100%;
    height:20%
}

.add-to-bag{
    width: 100%;
    height: 40px;
    background-color: darkslategray;
}





.item-box_right-top{
    width: 100%;
    height: 60%
}










.img-box{
    position: relative;
    width: 100%;
    /*height: 65vw;*/
}



.img-lbl-inner{
    position: relative;
    top:80%;
    left: 2%;
    width: 25%;
    height: 16%;
    background-color: white;      
}

.lbl-text-box{
    width:80%;
    height:80%;
    justify-content: space-evenly;    
}

.--txt-cent{
    text-align: center;
}

.--txt-rel-up{
    position: relative;
    top:-4vw;
}



.size-box{
    width: 5vw;
    height: 5vw;    
}







.card{
    width:30%;
    height: 80%;    
}









.carr-button-f{
    position: absolute;
    right: 2%;    
    width: 6vw;
    height: 6vw;
    background-color: rgba(255, 255, 255, .6);
    border:1px solid rgb(0, 0, 0);
    z-index: 1;
}

.carr-button-b{
    position: absolute;
    left: 37%;    
    width: 6vw;
    height: 6vw;
    background-color: rgba(255, 255, 255, .6);
    border:1px solid rgb(0, 0, 0);
    z-index: 1;
}












.copy-box-40{
    width: 100%;
    height: 13vw;
}


.rv-inner{
    width: 90%;    
    height: 100%;
    justify-content: space-between;
}




.sub-btn2{    
    width: 100px;
    height: 10px;
    background-color: darkslategray;
}






.footer{
    width: 100%;
    height: 500px;    
    padding-left: 20px;
    padding-right: 20px;    
    background-color:white;
}





.footer-box{
    width: 80%;
    height: 18%;
    border-bottom: 1px solid #c6c9d9;
}

.text-box{
    width: 100%;
    height: 82%;
}

.footer__copy-box{
    width: 90%;
    height: 90%;
}

.footer-list{     
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.footer-list li{
    margin-top: 12px;
}

.--margin-btm{
    margin-bottom: 20px;    
}


.--f-wrap-row{
    flex-wrap: wrap;
    flex-direction: row;
}

.pay-img{
    /*background: url("../assets/PayMethods/afterpay_new-png.webp")*/
    /*background: url("../assets/PayMethods/amex.webp")*/
    /*background: url("../assets/PayMethods/apple-pay-png.webp")*/
    /*background: url("../assets/PayMethods/afterpay_new-png.webp")*/
    /*background: url("../assets/PayMethods/afterpay_new-png.webp")*/
    width: 40px;
    margin: 1%;
}

.input-box{
    margin-top: 20px;    
}

.input-fld{   
    width: 200px; 
    height: 40px;
    border: 0;
    outline: 0; 
    border-bottom: 2px solid #616161;
}

.sub-btn{
    margin-left: 20px;
    width: 200px;
    height: 40px;
    background-color: darkslategray;
}

.overlay-text-box{
    position: absolute;
    width: 80%;
    height: 13vw;
    z-index: 1;
    justify-content: space-between;
}
 
     

.top-vid-copy{
    margin-top: -.9vw;
}
